---
layout: default
---

<link rel="stylesheet" href="/js/prettify/prettify.css" />
<style type="text/css">
    body { background:#e8e8e8; }
    @media screen and (max-width: 750px){
        body { background:#fff; }
    }
    @media screen and (max-width: 1020px){
        body { background:#fff; }
    }

	.fn-clear:after {
	    clear: both;
	    content: " ";
	    display: block;
	    font-size: 0;
	    height: 0;
	    visibility: hidden;
	}

    .det-image {
    	float: left;
    }

    .det-text {
		padding-left: 10px;
		float: left;
	    font-size: 16px;
	    line-height: 18px;
	    padding-left: 10px;
	    width: 150px;
    }
</style>

<div id="content">
    <div class="entry">
        <h1 class="entry-title"><a href="{{ page.url }}" title="{{ page.title }}">{{ page.title }}</a></h1>
        <p class="entry-date">{{ page.date|date:"%Y-%m-%d" }}</p>
        {{ content }}
    </div>

    <div class="sidenav">
    	 <h4 class="title">简介</h4>
         <div class="det fn-clear">
             <div class="det-image">
                 <img src="/images/avatar.jpg" width='80px' />
             </div>
             <div class="det-text">
                 <p>80 后程序员, 比较熟悉 java, jvm 相关的技术，关注 Liunx。</p>
             </div>
         </div>
    </div>

    <div class="sidenav">
        <h2>Blog</h2>
        <ul class="artical-list">

        {% assign counter=0 %}
        {% for post in site.categories.blog %}
        	{% if counter < site.blognewlist %}
		 	{% assign counter=counter | plus:1 %}
		     <li><a href="{{ post.url }}">{{ post.title }}</a></li>
		 	{% endif %}
        {% endfor %}
        </ul>

        <h2>Code</h2>
        <ul class="artical-list">

        {% assign counter=0 %}
        {% for post in site.categories.code %}
        	{% if counter < site.blognewlist %}
		 	{% assign counter=counter | plus:1 %}
		     <li><a href="{{ post.url }}">{{ post.title }}</a></li>
		    {% endif %}
        {% endfor %}
        </ul>

        <h2>Life</h2>
        <ul class="artical-list">

        {% assign counter=0 %}
        {% for post in site.categories.life %}
        	{% if counter < site.blognewlist %}
		 	{% assign counter=counter | plus:1 %}
		 	<li><a href="{{ post.url }}">{{ post.title }}</a></li>
		    {% endif %}
        {% endfor %}
        </ul>

        <h2>Archive</h2>
        <ul class="artical-list">
		 	<li><a href="/archive.html">归档</a></li>
        </ul>
    </div>
</div>

<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
	var data_thread_key = '{{ page.url }}'; //文章在原站点中的id或其他唯一标识
	var data_title = '{{ page.title }}'; //请替换成文章的标题
	var data_url = 'hushi55.github.io' + '{{ page.url }}'; //请替换成文章的网址
	var duoshuoQuery = {short_name:"hushi55"};

</script>
<!-- 多说公共JS代码 end -->

<script src="/js/post.js" type="text/javascript"></script>
